<div class="communicate discover">
  <div class="col-xs-3">
    <div class="row discover-line" ng-repeat="poet in poets">
      <a href="/poet/{{poet.route}}" class="communicate">{{poet.name}}</a>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="row discover-line ellipsis" ng-repeat="poem in poemNamesFirst">
      <a href="/poem/{{poem.route}}" class="communicate">{{poem.name}}</a>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="row discover-line text-align-right ellipsis" ng-repeat="poem in poemNamesSecond">
      <a href="/poem/{{poem.route}}" class="communicate">{{poem.name}}</a>
    </div>
  </div>
  <div class="col-xs-2">
    <div class="row discover-line text-align-right ellipsis" ng-repeat="poem in poemNamesThird">
      <a href="/poem/{{poem.route}}" class="communicate">{{poem.name}}</a>
    </div>
  </div>
</div>
