<div class="communicate discover" ng-class="{pointer:!typeless}">
  <div class="col-xs-3">
    <div class="row discover-line" ng-repeat="poet in poets" ng-click="clickName(poet)">
      {{poet.name}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="row discover-line ellipsis" ng-repeat="poem in
                                                       poemNamesFirst" ng-click="clickName(poem)">
      {{poem.name}}
    </div>
  </div>
  <div class="col-xs-3">
    <div class="row discover-line text-align-right ellipsis" ng-repeat="poem in poemNamesSecond" ng-click="clickName(poem)">
      {{poem.name}}
    </div>
  </div>
  <div class="col-xs-2">
    <div class="row discover-line text-align-right ellipsis" ng-repeat="poem in poemNamesThird" ng-click="clickName(poem)">
      {{poem.name}}
    </div>
  </div>
</div>
