<div class="content">
  <div class="search-row">
    <div id="microphone"></div>
    <div class="form-control search" ng-class="{communicate:isGreeting, cursor:!typeless}">
      <div class="search-button" ng-class="{pointer:!typeless,
                                           visible:hasBack || (!hasBack &&
                                           !hasHelp)}">
        <span ng-if="hasBack" ng-click="clickBack()">Back</span>
        <span ng-if="!hasBack && !hasHelp" ng-click="clickHelp()">Help</span>
        <span ng-if="!hasBack && hasHelp">Fake</span>
      </div>
      <input id="searchBox" type="text" class="search-term"
             ng-show="!typeless" ng-focus="searchFocus($event)" ng-blur="searchBlur($event)"
             placeholder="Search TLP" ng-model="searchTerm"
             typeahead="search.name for search in getTypeaheadValues($viewValue) | filter:$viewValue"
             typeahead-loading="loading" typeahead-min-lenth="3" typeahead-on-select="onSelectSearchTerm($item, $model, $label)">
      <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
      <div class="search-term" ng-show="typeless">{{searchTerm | title}}</div>
      <div class="search-button" ng-class="{visible:hasAudio || (!hasHelp && !hasDiscover),
                                           pointer:!typeless}">
        <span ng-if="hasAudio" ng-click="clickPlay()">Play</span>
        <span ng-if="!hasAudio && !hasDiscover"
        ng-click="clickDiscover()">List</span>
        <span ng-if="!hasAudio && hasDiscover">Fake</span>
      </div>
    </div>
    <p class="warning">{{warningTerm}}</p>
  </div>

  <div class="content-text">
    <div ng-show="hasHelp" class="instructions">
      <!-- I know this sucks. The alternative is to do really complicated --
      -- shit with directives because of the ng-click event being --
      -- inside of all of the compile strings. I choose to save time --
      -- and just hard code it here. If need arises later that's more
      than just these five lines, I'll adjust. -->
      <div class="row">
        <div class="col-xs-8 col-xs-offset-3">
          <p class="instruction-line">
            Speak your favorite poet:
            <span ng-class="{pointer:!typeless}" class="communicate" ng-click="clickName({ty:'poet', name:'robert frost'})">Robert Frost</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-3">
          <p class="instruction-line">
            Speak your favorite
            poem: <span ng-class="{pointer:!typeless}" class="communicate"
            ng-click="clickName({ty:'poem', name:'the road not taken'})">The Road Not Taken</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-3">
          <p class="instruction-line">
            Discover our poets and
            poems: <span ng-class="{pointer:!typeless}" class="communicate" ng-click="clickDiscover()">List</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-3">
          <p class="instruction-line">
            Find a <span ng-class="{pointer:!typeless}" class="communicate" ng-click="clickRandom()">Random</span> poem
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-3">
          <p class="instruction-line">
            See the instructions again? <span ng-class="{pointer:!typeless}" class="communicate">Help</span>
          </p>
        </div>
      </div>
      <div class="row" ng-if="hasVoice">
        <div class="col-xs-8 col-xs-offset-3">
          <p class="instruction-line">
            {{typeToggleMessage}}, <span class="communicate pointer" ng-click="toggleTypeless()">click here</span>
          </p>
        </div>
      </div>
    </div>

    <div ng-show="hasPoem()">
      <div ng-show="hasAudio || isPlayback">
        <audio id="audio-src"></audio>
      </div>
      <div class="supplementary-info">
        <span class="communicate" ng-class="{pointer:!typeless}" ng-click="clickName({ty:'poet',
        'name':searchedObj.poet})">{{searchedObj.poet}}</span>
        <span ng-show="hasVoice" class="record-button communicate pointer" ng-click="toggleRecord(searchedObj)"
        ng-class="{red:recording}">{{recordMessage}}</span>
        <span class="record-button communicate pointer" ng-click="playback()"
        ng-show="isPlayback">Playback</span>
        <span class="record-button communicate pointer" ng-click="save()"
        ng-show="isPlayback">Save</span>
        <a id="download-link" ng-click="download()"><span class="record-button communicate pointer" ng-show="isPlayback">Download</span></a>
      </div>
      <div class="poem-text body-text" ng-bind-html="sanitize(searchedObj.text)"></div>
    </div>

    <div ng-show="hasDiscover">
      <div class="communicate discover" ng-class="{pointer:!typeless}">
        <div class="col-xs-3">
          <div class="row discover-line" ng-repeat="poet in poets" ng-click="clickName(poet)">
            {{poet.name}}
          </div>
        </div>
        <div class="col-xs-4">
          <div class="row discover-line ellipsis" ng-repeat="poem in
                                                             poemNamesFirst" ng-click="clickName(poem)">
            {{poem.name}}
          </div>
        </div>
        <div class="col-xs-3">
          <div class="row discover-line text-align-right ellipsis" ng-repeat="poem in poemNamesSecond" ng-click="clickName(poem)">
            {{poem.name}}
          </div>
        </div>
        <div class="col-xs-2">
          <div class="row discover-line text-align-right ellipsis" ng-repeat="poem in poemNamesThird" ng-click="clickName(poem)">
            {{poem.name}}
          </div>
        </div>
      </div>
    </div>

    <div ng-show="hasList" class="body-text">
      <div class="searchedObj-line" ng-repeat="obj in list track by $index">
        <div class="list-index communicate" ng-class="{pointer:!typeless}" ng-click="clickChoose($index)">
          Choose {{$index+1 | numToStr}}
        </div>
        <div class="list-info" ng-class="colorClass(obj.type)">
          <div class="list-name">
            {{obj.title}}
          </div>
          <div class="list-extra">
            {{obj.extra}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
