<div ng-show="hasHelp" class="instructions">
  <!-- I know this sucks. The alternative is to do really complicated --
    -- shit with directives because of the ng-click event being --
    -- inside of all of the compile strings. I choose to save time --
    -- and just hard code it here. If need arises later that's more
       than just these five lines, I'll adjust. -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <p class="instruction-line">
        Speak your favorite poet:
        <span ng-class="{pointer:!typeless}" class="communicate" ng-click="clickName({ty:'poet', name:'robert frost'})">Robert Frost</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <p class="instruction-line">
        Speak your favorite
        poem: <span ng-class="{pointer:!typeless}" class="communicate"
                    ng-click="clickName({ty:'poem', name:'the road not taken'})">The Road Not Taken</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <p class="instruction-line">
        Discover our poets and poems: <span ng-class="{pointer:!typeless}" class="communicate" ng-click="clickDiscover()">List</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <p class="instruction-line">
        Find a <span ng-class="{pointer:!typeless}" class="communicate" ng-click="clickRandom()">Random</span> poem
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <p class="instruction-line">
        See the instructions again? <span ng-class="{pointer:!typeless}" class="communicate">Help</span>
      </p>
    </div>
  </div>
  <div class="row" ng-if="hasVoice">
    <div class="col-xs-8 col-xs-offset-3">
      <p class="instruction-line">
        {{typeToggleMessage}}, <span class="communicate pointer" ng-click="toggleTypeless()">click here</span>
      </p>
    </div>
  </div>
</div>
