<div ng-show="hasAudio || hasPlayback">
  <audio id="audio-src"></audio>
</div>

<div class="supplementary-info">
  <a href="/poet/{{poem.poet_route}}"><span class="communicate">{{poem.poet}}</span></a>
  <span ng-show="hasVoice" class="record-button communicate"
  ng-click="toggleRecord(poem)" ng-class="{red:recording}">{{recordMessage}}</span>
  <span class="record-button communicate" ng-click="playback()" ng-show="hasPlayback && !hasSaved">Playback</span>
  <span class="record-button communicate" ng-click="save()" ng-show="hasPlayback && !hasSaved">Save</span>
  <a id="download-link" ng-click="download()"><span class="record-button communicate" ng-show="hasPlayback">Download</span></a>
</div>
<div class="poem-text body-text" ng-bind-html="sanitize(poem.text)"></div>
