body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.page {
    margin-top:20px;
}

.communicate {
    color: rgba(9, 14, 207, .5);
}

.content {
    height: 650px;
    padding-top:50px;
    width: 900px;
    margin: auto;
}

.content-text {
    margin-top:25px;
    height: 605px;
    font-size: 20px;
}

.instructions {
    margin-top:80px;
}

.instruction-line {
    height:35px;
}

.search {
    text-align:center;
    height: 50px;
    font-size:25px;
    cursor: none;
    border-color: rgba(9, 194, 207, .5);
}

.searchedObj-line {
    clear:both;
    height:45px;
}

.warning {
    text-align: center;
    color: rgb(220,19,170);
}

.supplementary-info {
    text-align:right;
}

.poem-text {
    height:95%;
    overflow:scroll;
}

.list-index {
    width: 115px;
    float: left;
}

.list-info {
    float:left;
    margin-left:60px;
}

.ellipsis {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
}

/* For Angular-UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
